{% extends 'layout.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
                {% for article in pagination %}
                    <h2 class="blog-post-title">{{ article.title }}</h2>
                    <p>{{ article.content }}</p>
                {% endfor %}
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
